# Ignore everything
*
# Except
!LICENSE
!.gitignore
!*.md
!*.py
!*.sh
!README_files/*
!Dockerfile
!.dockerignore

# ...even if they are in subdirectories
!*/

*.odg
example/
development/
.ipynb_checkpoints
package_testing/

