git+https://github.com/nhsx/dna-risk-predict@6f03bdd#egg=dnattend
attrs==22.1.0
catboost==1.1.1
category-encoders==2.5.1.post0
contourpy==1.0.6
cycler==0.11.0
exceptiongroup==1.0.4
fonttools==4.43.0
graphviz==0.20.1
iniconfig==1.1.1
joblib==1.2.0
kiwisolver==1.4.4
matplotlib==3.6.2
numpy==1.24.0
packaging==22.0
pandas==1.5.2
patsy==0.5.3
Pillow>=10.0.1
plotly==5.11.0
pluggy==1.0.0
pyparsing==3.0.9
pytest==7.2.0
python-dateutil==2.8.2
pytz==2022.7
PyYAML==6.0
scikit-learn==1.2.0
scipy==1.10.0
seaborn==0.12.1
six==1.16.0
statsmodels==0.13.5
tenacity==8.1.0
threadpoolctl==3.1.0
tomli==2.0.1
